{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom.css' %}">
<div class="card">
    <div class="info">
        <img src="{{ element.url }}" class="image">
        <p class="title">{{ element.name }}</p>
        <p class="short-description">{{ element.address }}</p>
    </div>
    <div class="down">
        <a href="{% url 'classroom_url' element.classroom_id %}" class="card-button">Подробнее</a>
        <form method="post" action="/classroom/{{ element.classroom_id }}/add_to_draft/">
            {% csrf_token %}
                    <button type="submit" class="card-add">+</button>
        </form>
    </div>
</div>  