{% extends 'base.html' %}
{% load static %}
{% block title %}Бронирование аудиторий{% endblock %}
{% block t1 %}Бронирование аудиторий{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/classrooms.css' %}">
<div class="space">
    <div class="search-container">
        <form action="" method="get">
            {% csrf_token %}
            <input name="адрес аудитории" placeholder="Поиск..." type="text" id="search-id" value="{{ search_address }}">
            <button class="find-button">Найти</button>
            <!-- Корзина с проверкой наличия id первой заявки -->
            {% if draft_booking and draft_booking.app_id %}
            <a href="{% url 'cart_by_id' id=draft_booking.app_id %}" class="cart-button">
                Корзина {{ len }}
            </a>
            {% else %}
                <a class="cart-button disabled">Корзина {{ len }}</a>
            {% endif %}

        </form>
    </div>

    <div class="container">
        <!-- Отображаем список аудиторий -->
        {% for classroom in classrooms %}
            {% include 'classroom.html' with element=classroom %}
        {% endfor %}
    </div>
</div>
{% endblock %}