{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom_for_event.css' %}">
<div class="card">
    <div class="down">
        <img src="{{ element.info.url }}" class="image">
        <a class="title">{{ element.info.name }}</a>

        <!-- Поле ввода для времени окончания -->
        <label>до</label>
        <input type="time" name="time_end" value="{{ request.GET.time_end|default:element.finish_time }}">

        <a href="{% url 'classroom_url' element.info.classroom_id %}" class="card-button">Подробнее</a>
    </div>
</div>
